extends landing

block content
  div(class="my-4 text-center")
    h1=title
    h2 Welcome to #{title}
    p A proof of concept on how blockchain can be used to maintain integrity of academic records
    p 
      a(href='/explorer') Open Explorer (View enrolled candidates and certificates)
    p 
      a(href='/admin') Open Admin (Manage records)

